.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
}

h1 {
  color: #E1E1E6;
  font-size: 20px;
}

.header {
  background-color: rgb(90, 0, 154);
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputTask, .inputTime {
  width: 60vw;
  height: 8vh;
  border: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid gray;
}

label {
  color: #E1E1E6;
  font-size: 12px;
}

.btnAdd {
  width: 25vw;
  height: 17vh;
  border: none;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding-left: 10px;
  cursor: pointer;
  background-color: #E1E1E6;
  font-weight: bold;
}

.todoList {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
  overflow: auto;
}

.task {
  width: 80%;
  height:  20%;
  display: flex;
  align-items: center;
  color: white;
  margin: 15px;
}

.task .content {
  flex: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task .content span {
  display: grid;
  place-items: center;
  border: 1px solid white;
  width: 35vw;
  height: 5vh;
  font-size: 18px;
  border-right: none;
  background-color: rgb(90, 0, 154);
  overflow: auto;
}

.task button {
  width: 10vw;
  height: 5vh;
  border: none;
  background-color: red;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  cursor: pointer;
}